{% extends "base.html" %}
{% load static %}

{% block title %}Our Services | Picktime Consulting{% endblock %}

{% block content %}
{% include "partials/back_button.html" %}
<!-- ===================== SERVICES ===================== -->
<section id="services" class="services-section">
    <div class="container">
        <h2>Our Services</h2>

        {% if services %}
        {% for service in services %}
        <div class="service-row event-row">

            <!-- Service image -->
            <div class="service-image event-image">
                <a href="{% url 'service_detail' service.id %}">
                    {% if service.image %}
                    <img src="{{ service.image.url }}" alt="{{ service.title }}">
                    {% else %}
                    <img src="{% static 'images/default-service.jpg' %}" alt="Service image">
                    {% endif %}
                </a>
            </div>


            <!-- Service info -->
            <div class="service-info event-info">
                <h3>{{ service.title }}</h3>
                <p>{{ service.short_description|default:"No description set." }}</p>
                <!-- MINI SERVICES (desktop only) -->
                {% if service.mini_services.all %}
                <ul class="mini-services">
                    <h4 style="color: darkblue;">Mini services</h4>
                    {% for mini in service.mini_services.all %}
                    <li style="margin-left: 20px;">
                        {{ mini.title }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="event-actions">
                    <a href="{% url 'service_detail' service.id %}" class="btn-secondary-1">
                        Explore Details <i class="fas fa-info-circle" style="margin-left:6px;"></i>
                    </a>
                    <a href="{% url 'contact' %}?subject={{ service.title }}&service={{ service.slug }}"
                        class="btn-secondary-1">
                        Request Service
                        <i class="fas fa-file-signature" style="margin-left: 6px;"></i>
                    </a>
                </div>

            </div>

        </div>
        {% endfor %}

        {% else %}
        <p class="no-events-msg">No services available at the moment.</p>
        {% endif %}

    </div>
</section>
{% endblock %}